In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
athletic_sales_df_2020 = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_df_2021 = pd.read_csv('athletic_sales_2021.csv')
athletic_sales_df_2020.head()
athletic_sales_df_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

In [3]:
# Display the 2020 sales DataFrame
athletic_sales_df_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [4]:
# Display the 2021 sales DataFrame
athletic_sales_df_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
print("2020 sales data types:\n", athletic_sales_df_2020.dtypes)

2020 sales data types:
 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
print("2021 sales data types:\n", athletic_sales_df_2020.dtypes)

2021 sales data types:
 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_athletic_sales_df = pd.concat([athletic_sales_df_2020, athletic_sales_df_2021], ignore_index=True)
print("combined dataFrame:\n", combined_athletic_sales_df.head())

combined dataFrame:
       retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [8]:
# Check if any values are null.
any_nulls = combined_athletic_sales_df.isnull().any().any()
print("", any_nulls)

 False

In [9]:
# Check the data type of each column
data_types = combined_athletic_sales_df.dtypes
print("data typ each column:\n", data_types)

data typ each column:
 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
combined_athletic_sales_df['invoice_date'] = pd.to_datetime(combined_athletic_sales_df['invoice_date'], errors='coerce')
print("", data_types)

 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

C:\Users\Owner\AppData\Local\Temp\ipykernel_25916\3719326225.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_athletic_sales_df['invoice_date'] = pd.to_datetime(combined_athletic_sales_df['invoice_date'], errors='coerce')

In [11]:
# Confirm that the "invoice_date" data type has been changed.
invoice_date_dtype = combined_athletic_sales_df['invoice_date'].dtype
print("data'invoice_date", invoice_date_dtype)

data'invoice_date datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [26]:
# Show the number products sold for region, state, and city.
grouped_df = combined_athletic_sales_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
# Rename the sum to "Total_Products_Sold".
grouped_df.rename(columns={'sum': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

#### Using `pivot_table`

In [27]:
# Show the number products sold for region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
grouped_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [29]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

grouped_df = combined_athletic_sales_df.groupby(['region', 'state', 'city'])[ 'units_sold'].sum().reset_index()
# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
grouped_df = combined_athletic_sales_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
# Rename the "total_sales" column to "Total Sales"
grouped_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales_df = combined_athletic_sales_df[combined_athletic_sales_df['product'] == 'Women\'s Athletic Footwear']
print("", womens_athletic_footwear_sales_df)

          retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
grouped_df = womens_athletic_footwear_sales_df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

grouped_df.rename(columns={'units_sales':'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results   retailer     region          state        city  units_sold
0   Amazon    Midwest           Ohio    Columbus        5801
1   Amazon  Northeast          Maine    Portland        1841
2   Amazon  Northeast  Massachusetts      Boston        1190
3   Amazon  Northeast  New Hampshire  Manchester        3109
4   Amazon  Northeast        Vermont  Burlington        4327

#### Using `pivot_table`

In [32]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_athletic_footwear_sales_df = combined_athletic_sales_df[combined_athletic_sales_df['product'] == 'Womens athletic footwear sold']


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [22]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_df = womens_athletic_footwear_sales_df.pivot_table(index=['invoice_date'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the table.
print("top 5 results", pivot_df)

top 5 results     invoice_date  units_sold
0     2020-01-04        1378
1     2020-01-05         477
2     2020-01-11         434
3     2020-01-17         477
4     2020-01-22        1279
..           ...         ...
350   2021-12-22         668
351   2021-12-23        1744
352   2021-12-24         505
353   2021-12-25         805
354   2021-12-30         442

[355 rows x 2 columns]

In [45]:
# Resample the pivot table into daily bins, and get the total sales for each day.
pivot_table_df = pd.pivot_table(
    womens_athletic_footwear_sales_df,
    values= "units_sold",      # Column with the number of products sold
    index='invoice_date',        # Date column
    aggfunc='sum',               # Aggregation function to sum the number of products sold
    fill_value=0                  # Replace NaN with 0
).reset_index()

pivot_table_df.set_index('invoice_date', inplace=True)

daily_sales_df.rename(columns={'units_sold': 'Total Products Sold'}, inplace=True)

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales_df = pivot_table_df.resample('D').sum().reset_index()
daily_sales_df.rename(columns={'units_sold': 'Total Products Sold'}, inplace=True)

print("top 5 results", pivot_df)

top 5 results        region           state            city  units_sold
0     Midwest        Illinois         Chicago       25407
1     Midwest         Indiana    Indianapolis       26332
2     Midwest            Iowa      Des Moines       23446
3     Midwest          Kansas         Wichita       29463
4     Midwest        Michigan         Detroit       50095
5     Midwest       Minnesota     Minneapolis       20415
6     Midwest        Missouri       St. Louis       36404
7     Midwest         Montana        Billings       42713
8     Midwest        Nebraska           Omaha       19154
9     Midwest    North Dakota           Fargo       22781
10    Midwest            Ohio        Columbus       47781
11    Midwest    South Dakota     Sioux Falls       22973
12    Midwest       Wisconsin       Milwaukee       23950
13  Northeast     Connecticut        Hartford       34696
14  Northeast        Delaware      Wilmington       30275
15  Northeast           Maine        Portland       22410
16  Northeast        Maryland       Baltimore       20818
17  Northeast   Massachusetts          Boston       32895
18  Northeast   New Hampshire      Manchester       40812
19  Northeast      New Jersey          Newark       26540
20  Northeast        New York          Albany       57186
21  Northeast        New York        New York      111954
22  Northeast    Pennsylvania    Philadelphia       27662
23  Northeast    Rhode Island      Providence       27473
24  Northeast         Vermont      Burlington       38685
25  Northeast   West Virginia      Charleston       29873
26      South         Alabama      Birmingham       63327
27      South        Arkansas     Little Rock       48468
28      South       Louisiana     New Orleans       57615
29      South     Mississippi         Jackson       56814
30      South        Oklahoma   Oklahoma City       40459
31      South       Tennessee       Knoxville       66077
32      South           Texas          Dallas       69178
33      South           Texas         Houston       90322
34  Southeast         Florida           Miami       73135
35  Southeast         Florida         Orlando       60295
36  Southeast         Georgia         Atlanta       56391
37  Southeast        Kentucky      Louisville       28664
38  Southeast  North Carolina       Charlotte       62936
39  Southeast  South Carolina      Charleston       72610
40  Southeast        Virginia        Richmond       52969
41       West          Alaska       Anchorage       30815
42       West         Arizona         Phoenix       46919
43       West      California     Los Angeles       76384
44       West      California   San Francisco       85478
45       West        Colorado          Denver       41378
46       West          Hawaii        Honolulu       40375
47       West           Idaho           Boise       63827
48       West          Nevada       Las Vegas       51831
49       West      New Mexico     Albuquerque       52633
50       West          Oregon        Portland       50536
51       West            Utah  Salt Lake City       48548
52       West      Washington         Seattle       46611
53       West         Wyoming        Cheyenne       50228

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [44]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".