In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
athletic_sales_df_2020 = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_df_2021 = pd.read_csv('athletic_sales_2021.csv')
athletic_sales_df_2020.head()
athletic_sales_df_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

In [ ]:
# Display the 2020 sales DataFrame
athletic_sales_df_2020.head()

In [ ]:
# Display the 2021 sales DataFrame
athletic_sales_df_2021.head()

#### Check the data types of each DataFrame

In [10]:
# Check the 2020 sales data types.
print("2020 sales data types:\n", athletic_sales_df_2020.dtypes)

2020 sales data types:
 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [11]:
# Check the 2021 sales data types.
print("2021 sales data types:\n", athletic_sales_df_2020.dtypes)

2021 sales data types:
 retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [20]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_athletic_sales_df = pd.concat([athletic_sales_df_2020, athletic_sales_df_2021], ignore_index=True)
print("combined dataFrame:\n", combined_athletic_sales_df.head())

combined dataFrame:
       retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [40]:
# Check if any values are null.
any_nulls = combined_athletic_sales_df.isnull().any().any()
print("", any_nulls)

 False

In [37]:
# Check the data type of each column
data_types = combined_athletic_sales_df.dtypes
print("data typ each column:\n", data_types)

data typ each column:
 retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

In [41]:
# Convert the "invoice_date" to a datetime datatype
combined_athletic_sales_df['invoice_date'] = pd.to_datetime(combined_athletic_sales_df['invoice_date'], errors='coerce')
print("", data_types)

 retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

In [42]:
# Confirm that the "invoice_date" data type has been changed.
invoice_date_dtype = combined_athletic_sales_df['invoice_date'].dtype
print("data'invoice_date", invoice_date_dtype)

data'invoice_date datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [55]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_df = combined_athletic_sales_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

#### Using `pivot_table`

In [67]:
# Show the number products sold for region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
grouped_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

top 5 results     region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [84]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

grouped_df = combined_athletic_sales_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

#### Using `pivot_table`

In [88]:
# Show the total sales for the products sold for each region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

top 5 results     region     state          city  units_sold
0  Midwest  Illinois       Chicago       25407
1  Midwest   Indiana  Indianapolis       26332
2  Midwest      Iowa    Des Moines       23446
3  Midwest    Kansas       Wichita       29463
4  Midwest  Michigan       Detroit       50095

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [89]:
# Show the total sales for the products sold for each retailer, region, state, and city.
grouped_df = combined_athletic_sales_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
# Rename the "total_sales" column to "Total Sales"
grouped_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", grouped_df.head(5))

top 5 results   retailer     region          state        city  Total_Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [96]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_df = combined_athletic_sales_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum', fill_value=0).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df.rename(columns={'total_sales':'Total_Sales'}, inplace=True)

# Show the top 5 results.
print("top 5 results", pivot_df.head(5))

top 5 results   retailer     region          state        city  units_sold
0   Amazon    Midwest           Ohio    Columbus       44925
1   Amazon  Northeast          Maine    Portland       20693
2   Amazon  Northeast  Massachusetts      Boston       11763
3   Amazon  Northeast  New Hampshire  Manchester       26088
4   Amazon  Northeast        Vermont  Burlington       36476

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [104]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales_df = combined_df[combined_df['product'] == 'Women\'s Athletic Footwear']
print("", womens_athletic_footwear_sales_df)

          retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732       1/4/20  Northeast      New York
22    Foot Locker      1185732       1/4/20  Northeast      New York
23    Foot Locker      1185732       1/4/20  Northeast      New York
26      West Gear      1128299       1/5/20  Northeast  Pennsylvania
27      West Gear      1128299       1/5/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania
9634  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania
9635       Amazon      1185732     12/30/21  Northeast         Maine
9636       Amazon      1185732     12/30/21  Northeast         Maine
9637  Foot Locker      1185732     12/30/21  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"



# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in descending order on "Total Sales".

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".